# comentário
.idea/
.vscode/

# comentário
app/release/
app/release/*.aab
app/release/*.apk
app/release/*.json

# comentário
build.gradle
settings.gradle
gradle.properties
local.properties

# comentário
.gradle/
.DS_Store
.externalNativeBuild
.cxx

# comentário
build/
captures/
gradle/

# comentário
gradlew
gradlew.bat

# comentário
*.iml
*.log
