# comentário
.idea/
.vscode/

# comentário
app/release/
app/release/*.aab
app/release/*.apk
app/release/*.json

# comentário
*.iml
*.log

# comentário
.gradle/
gradle/
build.gradle

# comentário
.DS_Store
.externalNativeBuild
.cxx


# comentário
build/
captures/
local.properties


